.slider {
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 25px; 
  background: $weekday-data-color; 
  box-shadow: inset 0 0 15px 2px $weekday-color;
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 15px;
}


.slider:hover {
  opacity: 1; 
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 45px; 
  height: 25px;
  background: $weekday-color; 
  border-radius: 15px;
  cursor: pointer; 
  &:before {
    content: arrow;
  }
}


.slider-small {
  -webkit-appearance: none;  
  appearance: none;
  width: 80px; 
  height: 15px; 
  background: $weekday-data-color; 
  box-shadow: inset 0 0 5px 2px $weekday-color;
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 15px;
  vertical-align: middle;
}

.slider-small:hover {
  opacity: 1; 
}


.slider-small::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px; 
  height: 15px;
  background: $weekday-color; 
  border-radius: 15px;
  cursor: pointer; 
  &:before {
    content: arrow;
  }
}